<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{satelliteCounts("Space Debris")}}</span></div>
   <div>Communication: <span>{{satelliteCounts("Communication")}}</span></div>
   <div>Probe: <span>{{satelliteCounts("Probe")}}</span></div>
   <div>Positioning: <span>{{satelliteCounts("Positioning")}}</span></div>
   <div>Space Station: <span>{{satelliteCounts("Space Station")}}</span></div>
   <div>Telescope: <span>{{satelliteCounts("Telescope")}}</span></div>
</div>
