/* Copy the entire contents of the example orbit-list-component.css and put it into your orbit-list-component.css. Leave the sortable class alone, but change the table and warning styles to colors and sizes you find pleasing. */
.sortable {
  cursor: pointer;
  color: #dd5;
}

.warning {
  background-color: #fc0606;
}

table {
color: #111;
border-radius: 5px;
overflow: hidden;
margin: 12px 0;
min-width: 300px;
background: #f1d6e7;
font-size: large;
}

.header-row {
  background: #34495E;
  color: #fff
}

th, td {
  text-align: left;
  margin: 5px 10px;
  padding: 6px;
}

tr:nth-child(even) {
  background: #dfddde;
}
